<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}" style="font-size:1em" >Bio</a></li>
  <li class="{% if page.url contains '/research/' %} active {% endif %}"><a href="{{ "/research/" | absolute_url }}" style="font-size:1em">Research</a></li>
  <li class="{% if page.url contains '/travel/' %} active {% endif %}"><a href="{{ "/travel/" | absolute_url }}" style="font-size:1em">Travel</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}" style="font-size:1em">Contact</a></li>
</ul>

<ul class="icons">
  <li><a href="https://facebook.com/luisa.l.smith" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/luisaluciesmith" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/lluciesmith" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
